networks:
  voxlab-net:
    name: voxlab-net
    driver: bridge

services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8053:80/tcp"
    environment:
      TZ: 'Europe/Paris'
      WEBPASSWORD: '{{ pihole_password }}'
      FTLCONF_dns_listeningMode: 'all'
    volumes:
      - '{{ base_dir }}/pihole/etc-pihole:/etc/pihole'
    restart: unless-stopped
    networks:
      - voxlab-net

  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - '{{ base_dir }}/npm/data:/data'
      - '{{ base_dir }}/npm/letsencrypt:/etc/letsencrypt'
    restart: unless-stopped
    networks:
      - voxlab-net

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      - HOMEPAGE_ALLOWED_HOSTS={{ server_ip }}:3000,dashboard.voxlab.lan,dashboard.voxlb.com
      - PUID=1000
      - PGID=1000
    ports:
      - "3000:3000"
    volumes:
      - '{{ base_dir }}/homepage:/app/config'
      - '{{ base_dir }}/homepage/public:/app/public/images'
    restart: unless-stopped
    networks:
      - voxlab-net

  memos:
    image: neosmemo/memos:stable
    container_name: memos
    volumes:
      - '{{ base_dir }}/memos:/var/opt/memos'
    ports:
      - "5230:5230"
    restart: unless-stopped
    networks:
      - voxlab-net

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - '{{ base_dir }}/portainer_data:/data'
    ports:
      - "9443:9443"
      - "9000:9000"
    restart: unless-stopped
    networks:
      - voxlab-net

  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest
    container_name: mealie
    ports:
      - 9925:9000
    volumes:
      - '{{ base_dir }}/mealie/data:/app/data'
    environment:
      - ALLOW_REGISTRATION=true
      - BASE_URL=http://{{ server_ip }}:9925
      - DB_ENGINE=postgres
      - POSTGRES_USER=mealie
      - POSTGRES_PASSWORD={{ mealie_db_password }}
      - POSTGRES_SERVER=mealie-db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=mealie
    restart: unless-stopped
    networks:
      - voxlab-net

  mealie-db:
    image: postgres:15-alpine
    container_name: mealie-db
    restart: unless-stopped
    volumes:
      - '{{ base_dir }}/mealie/db:/var/lib/postgresql/data'
    environment:
      - POSTGRES_USER=mealie
      - POSTGRES_PASSWORD={{ mealie_db_password }}
      - POSTGRES_DB=mealie
    networks:
      - voxlab-net

  filebrowser:
    image: filebrowser/filebrowser:latest
    container_name: filebrowser
    restart: unless-stopped
    ports:
      - 8080:80
    volumes:
      - /:/srv
      - '{{ base_dir }}/filebrowser/filebrowser.db:/database.db'
    networks:
      - voxlab-net

  authelia:
    image: authelia/authelia:latest
    container_name: authelia
    restart: unless-stopped
    volumes:
      - '{{ base_dir }}/authelia/config:/config'
    environment:
      - TZ=Europe/Paris
    depends_on:
      - redis
    networks:
      - voxlab-net

  redis:
    image: redis:latest
    container_name: authelia-redis
    restart: unless-stopped
    volumes:
      - '{{ base_dir }}/redis:/data'
    networks:
      - voxlab-net

  glances:
    image: nicolargo/glances:latest
    container_name: glances
    restart: always
    environment:
      - GLANCES_OPT=-w
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 61208:61208
    networks:
      - voxlab-net

  dockerproxy:
    image: ghcr.io/tecnativa/docker-socket-proxy:latest
    container_name: dockerproxy
    environment:
      - CONTAINERS=1
      - NETWORKS=1
      - SERVICES=1
      - VERSION=1
      - STATS=1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    networks:
      - voxlab-net
  
  # minecraft:
  #   image: itzg/minecraft-server:stable
  #   container_name: minecraft
  #   ports:
  #     - "25565:25565"
  #   stdin_open: true
  #   tty: true
  #   environment:
  #     EULA: "TRUE"
  #     TYPE: "FORGE"
  #     VERSION: "1.21.1"
  #     MEMORY: "8G"
  #     TZ: "Europe/Paris"
  #   volumes:
  #     - ./minecraft-data:/data
  #   restart: unless-stopped
  #   networks:
  #     - voxlab-net
  