- name: Apply Netplan configuration
  copy:
    dest: /etc/netplan/10-voxlab-static.yaml
    content: |
      network:
        version: 2
        renderer: networkd
        ethernets:
          ens33:
            dhcp4: no
            addresses:
              - {{ server_ip }}/24
            routes:
              - to: default
                via: 192.168.1.1
            nameservers:
              addresses: [1.1.1.1, 8.8.8.8]
    owner: root
    group: root
    mode: '0600'

- name: Apply Netplan changes
  shell: netplan apply
  async: 10
  poll: 0