services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8053:80/tcp"
    environment:
      TZ: 'Europe/Paris'
      WEBPASSWORD: '{{ pihole_password }}'
      FTLCONF_dns_listeningMode: 'all'
    volumes:
      - '{{ base_dir }}/pihole/etc-pihole:/etc/pihole'
    restart: unless-stopped

  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - '{{ base_dir }}/npm/data:/data'
      - '{{ base_dir }}/npm/letsencrypt:/etc/letsencrypt'
    restart: unless-stopped

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      - HOMEPAGE_ALLOWED_HOSTS={{ server_ip }}:3000,dashboard.voxlab.lan
      - PUID=1000
      - PGID=1000
    ports:
      - "3000:3000"
    volumes:
      - '{{ base_dir }}/homepage:/app/config'
      - '{{ base_dir }}/homepage/public:/app/public/images'
    restart: unless-stopped

  memos:
    image: neosmemo/memos:stable
    container_name: memos
    volumes:
      - '{{ base_dir }}/memos:/var/opt/memos'
    ports:
      - "5230:5230"
    restart: unless-stopped

  uptime-kuma:
    image: louislam/uptime-kuma:latest
    container_name: uptime-kuma
    volumes:
      - '{{ base_dir }}/uptime-kuma:/app/data'
    ports:
      - "3001:3001"
    restart: unless-stopped

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - '{{ base_dir }}/portainer_data:/data'
    ports:
      - "9443:9443"
      - "9000:9000"
    restart: unless-stopped