- name: Deploy docker-compose and configs
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ ansible_user_name }}"
    group: "{{ ansible_user_name }}"
    mode: '0644'
  loop:
      - { src: 'docker-compose.yml', dest: '{{ base_dir }}/docker-compose.yml' }
      - { src: 'configs/homepage/services.yaml', dest: '{{ base_dir }}/homepage/services.yaml' }
      - { src: 'configs/homepage/settings.yaml', dest: '{{ base_dir }}/homepage/settings.yaml' }
      - { src: 'configs/homepage/widgets.yaml', dest: '{{ base_dir }}/homepage/widgets.yaml' }
      - { src: 'configs/homepage/bookmarks.yaml', dest: '{{ base_dir }}/homepage/bookmarks.yaml' }

- name: Ensure public directory exists
  file:
    path: "{{ base_dir }}/homepage/public/images"
    state: directory
    owner: "{{ ansible_user_name }}"
    group: "{{ ansible_user_name }}"
    mode: '0755'

- name: Deploy background image
  copy:
    src: 'configs/homepage/public/background.jpg'
    dest: '{{ base_dir }}/homepage/public/images/background.jpg'
    owner: "{{ ansible_user_name }}"
    group: "{{ ansible_user_name }}"
    mode: '0644'


- name: Start docker stack
  shell: "docker compose -f {{ base_dir }}/docker-compose.yml up -d --remove-orphans"