- name: Deploy docker-compose and configs
  template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ ansible_user_name }}"
    group: "{{ ansible_user_name }}"
    mode: '0644'
  loop:
      - { src: 'docker-compose.yml', dest: '{{ base_dir }}/docker-compose.yml' }
      - { src: 'configs/homepage/services.yaml', dest: '{{ base_dir }}/homepage/services.yaml' }
      - { src: 'configs/homepage/settings.yaml', dest: '{{ base_dir }}/homepage/settings.yaml' }
      - { src: 'configs/homepage/widgets.yaml', dest: '{{ base_dir }}/homepage/widgets.yaml' }

- name: Start docker stack
  shell: "docker compose -f {{ base_dir }}/docker-compose.yml up -d --remove-orphans"