- name: Create authelia configurations
  file:
    path: "{{ base_dir }}/{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - authelia/config
    - redis

- name: Deploy authelia configuration file
  template:
    src: templates/authelia_config.yml
    dest: "{{ base_dir }}/authelia/config/configuration.yml"

- name: Create Authelia users database
  template:
    src: templates/authelia_users_database.yml
    dest: "{{ base_dir }}/authelia/config/users_database.yml"
